/* Float four columns side by side */

    .benefit{
        display: flex;
        position: relative;
        padding-bottom: 80px;


    }
  .benefitpic{
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .benefitpic img{
    height: 500px;
    padding: 5px;
  }

  .benefitpic-right{
    float: right;
    width: 50%;
    padding: 5px;
  }

  .benefitpic-right img{
    height: 500px;
    padding: 5px;
  }

  .benefit-section{
    width: 50%;
    float: right;
     
  }

  .benefit-section-left{
    width: 50%;
    float: left;
    
  }

  .benefit-group{
    overflow: auto;
  }

  .center-content{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
      .benefit{
          display: block;
      }

    .benefitpic{
        width: 100%;
        display: block;
        float: none;
        padding-top: 10px;
    }
    .benefitpic img{
        width: 100%;
        height: 260px;
        float: none;
    }
    .benefit-section{
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 20px;
        padding-top: 10px;
    }
    .benefitpic-right{
      width: 100%;
      display: block;
      float: none;
      padding-top: 10px;
  }
  .benefitpic-right img{
      width: 100%;
      height: 260px;
      float: none;
  }
  .benefit-section-left{
      width: 100%;
      display: block;
      float: none;
      margin-bottom: 20px;
      padding-top: 10px;
  }
  }