/* Float four columns side by side */

  .main-benefit{
    display: flex;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
  }

  .left-benefit{
    float: left;
    width: 50%;
    padding-right: 4%;
    padding-left: 3%;
  }

  .right-benefit{
    width: 50%;
    float: right;
    padding-left: 4%;
    padding-right: 3%;
  }

  .top-benefit{
    margin: auto;
    width: 95%;
  }
  .benefit{
    display: flex;
    position: relative;
  }
  
  .benefitpic{
    text-align: center;
    padding: 5px;
    
  }
  
  .benefitpic img{
    height: 350px;
    padding: 5px;
    width: 100%;
    align-content: center;
  }

  .benefitpic-right{
    float: right;
    padding: 5px;
  }

  .benefitpic-right img{
    width: 100%;
    padding: 5px;
  }

  .benefit-section{
     text-align: center;
  }

  .benefit-section-left{
    width: 50%;
    float: left;
    
  }

  .benefit-group{
    overflow: auto;
  }

  .center-content{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .main-benefit{
      display: block;
      padding:30px;
    }
  
    .left-benefit{
      float: none;
      width: 100%;
    }
  
    .right-benefit{
      width: 100%;
    }  
    .benefit{
          display: block;
      }

    .benefitpic{
        width: 100%;
        display: block;
        float: none;
        padding-top: 10px;
    }
    .benefitpic img{
        width: 100%;
        height: 220px;
        float: none;
    }
    .benefit-section{
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 20px;
        padding-top: 10px;
    }
    .benefitpic-right{
      width: 100%;
      display: block;
      float: none;
      padding-top: 10px;
  }
  .benefitpic-right img{
      width: 100%;
      height: 260px;
      float: none;
  }
  .benefit-section-left{
      width: 100%;
      display: block;
      float: none;
      margin-bottom: 20px;
      padding-top: 10px;
  }
  }