/* Float four columns side by side */

    .benefit{
        display: flex;
    }
  .benefitpic{
    float: left;
    width: 50%;
    padding: 5px;
  }
  .benefitpic img{
    height: 500px;
    padding: 5px;
  }

  .benefit-section{
    width: 50%;
    float: right;
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
      .benefit{
          display: block;
      }

    .benefitpic{
        width: 100%;
        display: block;
        float: none;
        padding-top: 10px;
    }
    .benefitpic img{
        width: 100%;
        height: 260px;
        float: none;
    }
    .benefit-section{
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 20px;
        padding-top: 10px;
    }
  }