 
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #FF931E;
    text-decoration: none;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    padding-top: 6px;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #e47a08;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 60px;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    color: rgb(37, 37, 37);
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .popup .close:hover {
    color: #e47a08;
  }

  .rating td{
    padding-right: 15px;
  }
  .rating-title{
    padding-right: 150px;
  }
  .popup .content {
    max-height: 30%;
    padding-bottom: 20px;
    overflow: auto;
  }
  #my_id {
    display: none;
}
  #wrapper {
    display: flex;
  }
  /* loadinggg */
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #e47a08;
    width: 30px;
    height: 30px;
    display: none;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 90%;
    }
    .rating-title{
      padding-right: 50px;
    }
  }