/* Float four columns side by side */
.outlookcolumn {
    float: left;
    width: 20%;
    padding: 0 10px;
    
  }
  
  .outlookcolumn p{
      font-size: smaller;
  }
  /* Remove extra left and right margins, due to padding */
  .outlookrow {margin: 0 0;}
  
  /* Clear floats after the columns */
  .outlookrow:after {
    content: "";
    display: table;
    clear: both;
  }
  .outlookpic img {
    height: 60px;
    margin-bottom: 20px;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .outlookcolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding-top: 10px;
    }
  }
  
  /* Style the counter cards */
  .outlookcard {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    width: 98%;
    border-radius: 10px;
    background-color: white;
  }